<!--
  App 8: Pipes: 
  - Build a reverse pipe: Swap the instance type for it's reversed string
  - Sort pipe: Sort it by the name of the database
-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredStatus">
      <br>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <h2>App 8- Pipes, App Status: {{ appStatus | async}}</h2>
      <hr>
      <button class='btn' 
              (click)='adjustSort()'
              [ngClass]="{'btn-primary': sortOn == 1, 'btn-warning': sortOn == -1, 'btn-info': sortOn == 0}">
              <span class='glyphicon' 
                    [ngClass]="{'glyphicon-sort-by-alphabet':sortOn == 1, 'glyphicon-cog': sortOn == 0, 'glyphicon-sort-by-alphabet-alt': sortOn == -1}"></span> 
              <span *ngIf='sortOn == 1'> Sort On</span>
              <span *ngIf='sortOn == 0'> Sort Off</span>
              <span *ngIf='sortOn == -1'> Sort Reverse</span>
      </button>
      <hr>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let server of servers | sort:sortOn"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date:'fullDate' | uppercase }} |
          <i>{{server.instanceType | uppercase | reverse}}</i>
        </li>
      </ul>
    </div>
  </div>
</div>
