<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()"> <!--Bind the formgroup built to the formgroup in the template-->
       <div formGroupName='userData'>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName = "username"
            class="form-control"> <!--Tell angular the typescript name to map to the template-->
            <span *ngIf="!newUserForm.get('userData.username').valid && newUserForm.get('userData.username').touched">
              <span *ngIf="newUserForm.get('userData.username').errors?.required" class="text-warning bg-danger">Please enter a username</span>
              <span *ngIf="newUserForm.get('userData.username').errors?.nameIsForbidden" class="text-warning bg-danger">Please enter a valid username</span>
            </span>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
            <span *ngIf="!newUserForm.get('userData.email').valid && newUserForm.get('userData.email').touched" class="text-warning bg-danger">Please enter a valid email</span>
        </div>
       </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName='hobbies'> <!--Apply form array-->
          <h4>Your hobbies</h4>
          <button class='btn btn-default' type='button' (click)='onAddHobby()'>Add a hobby</button>
          <div class='form-group' *ngFor="let hobby of newUserForm.get('hobbies').controls; let i = index">
            <input type='text' class='form-control' [formControlName]='i'> <!--Select index within array to fetch-->
          </div>
        </div>
        <p *ngIf="!newUserForm.valid && newUserForm.touched" class="text-warning bg-danger">Form is invalid</p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
