<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="panel panel-info form-wrapper">
            <div class="panel-heading">
              <h3 class="panel-title">App 6: Practice Template Driven Forms</h3>
            </div>
            <div class="panel-body">
              <form class='form-horizontal' 
                    (ngSubmit)='handleSubmit()' 
                    #appForm="ngForm">
                <div class='form-group'>
                  <label for='email'>Email Address</label>
                  <input type='email' 
                         placeholder="Email" 
                         class='form-control' 
                         name='email' 
                         ngModel
                         required
                         email
                         #email='ngModel'/>
                  <span class="text-danger" *ngIf="email.touched && email.invalid">Invalid email, requires @ sign</span>
                </div>
                <div class='form-group'>
                  <label for='subscription'>Subscription Type</label>
                  <select class='form-control' name='subscription' [ngModel]='serviceTypes[1]'>
                    <option *ngFor="let service of serviceTypes" [value]='service'>{{service}}</option>
                  </select>
                </div>
                <div class='form-group'>
                  <label for='password'>Password</label>
                  <input type='password' 
                         class='form-control' 
                         placeholder='Password' 
                         name='password' 
                         ngModel
                         minlength="3"
                         #password='ngModel'
                         required/>
                  <span class="text-danger" *ngIf="password.touched && password.invalid">Password too short, 3 chars at least</span>
                </div>
                <button class='btn btn-primary' type='submit'>Submit</button>
              </form>
            </div>
          </div>

          <!--On sucess try animating in the data results -->
          <div *ngIf="formSubmitted">
            <hr>
            <div class="well well-lg">
              <p>Email Address: <span class="bg-info">{{data.email}}</span></p>
              <p>Subscription Type: <span class="bg-info">{{data.sub}}</span></p>
              <p>Password: <span class="bg-info">{{data.pass}}</span></p>
            </div>
          </div>
    </div>
  </div>
</div>
